#preview {
  width: 50%;
  left: 50%;
  height: 100%;
  background: #fff;
  position: absolute;
  .pv-content {
    margin: 15px;
    padding: 10px;
    border: 1px solid #c9c9c9;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
  }
}
