#NBToolbar {
  height: 50px;
  background-color: #444;
  text-align: right;
  padding-top: 8px;
  padding-right: 20px;
  font-size: 22px;
  .fa {
    padding-right: 15px;
    cursor: pointer;
    color: rgb(187, 187, 187);
    &:hover {
      color: rgb(249, 249, 245);
    }
  }
}