.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.editor {
  margin: 15px;
  border: 1px solid #c9c9c9;
  -webkit-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out;
}